.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
 
}
.h3 {
  color: rgb(122, 5, 87);
  
}
.table {
  background-color: rgb(247, 172, 172);
}





